@page "/reject-reason/{Menu}"
@using Application.Models
@using Application.Service
@using WebAPI
@using Microsoft.JSInterop

<h3 class="Page-Header">Reject Reason List</h3>
<div>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-success w-100 btn-sm" type="button" @onclick="() => Modal.CreateNew()"><i class="fa fa-plus"></i> Add</button>
        </div>
        <div class="col-2">
            <button class="btn btn-warning w-100 btn-sm" type="button" @onclick="() => PrintRejectReason()"><i class="fa fa-print"></i> Print</button>
        </div>
    </div>
    <div class="table-responsive-vh">
        <table class="table table-striped table-hover table-bordered ">
            <thead>
                <tr class="table-dark">
                    <th style="width: 30%;">Reject Reason Code</th>
                    <th style="width: 40%;">Reject Reason Desc</th>
                    <th style="width: 12%;">Deleted</th>
                    <th style="width: 18%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (RejectReasonList != null)
                    foreach (RejectReasonModel x in RejectReasonList)
                    {
                        <tr>
                            <td style="width: 30%;">@x.RejectReasonCode</td>
                            <td style="width: 40%;">@x.RejectReasonDesc</td>
                            <td style="width: 12%;"><input type="checkbox" checked="@x.Isdeleted" disabled /></td>
                            <td style="width: 18%;">
                                @if (!x.Isdeleted)
                                {
                                    <button type="button" class="btn btn-sm btn-info" @onclick="() => Modal.PopulateForm(x,true)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-sm btn-danger" @onclick="() => DeleteConfirmation(x.Id)"><i class="fa fa-trash"></i></button>
                                }
                                else
                                {

                                    <button type="button" class="btn btn-sm btn-success" @onclick="() => Modal.PopulateForm(x,false)"><i class="fa fa-eye"></i></button>
                                }
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
    <UIPagination CurrentPage="page"
                  TotalPages="Paginated.TotalPages"
                  HasPreviousPage="Paginated.HasPreviousPage"
                  HasNextPage="Paginated.HasNextPage"
                  CountData="Paginated.CountData"
                  OnPageChanged="GetRejectReasonList" />
</div>

<CIVSUI.Pages.RejectReason.CreateEditRejectReason @ref="Modal" ParentPage="@this"></CIVSUI.Pages.RejectReason.CreateEditRejectReason>
<ConfirmationToast @ref="Confirmation"
                   ConfimationMsg="@ConfimationMsg"
                   OnConfirm="DeleteRejectReason"
                   IsVisible="@IsConfirmationModalVisible">
</ConfirmationToast>
<Toast @ref="Msg"></Toast>

<LoadingModal @ref="MdlLoading" IsLoading="@isLoading"></LoadingModal>

@inject IRejectReasonServices RejectReasonService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@code {
    [Parameter]
    public string Menu { get; set; }
    private CIVSUI.Pages.RejectReason.CreateEditRejectReason Modal { get; set; }
    private Toast Msg { get; set; }
    private ConfirmationToast Confirmation { get; set; }
    private bool IsConfirmationModalVisible = false;
    private string ConfimationMsg = string.Empty;
    private LoadingModal MdlLoading;
    private PaginatedOutputServices<RejectReasonModel> Paginated = new();
    private List<RejectReasonModel> RejectReasonList;
    private ReturnGenericStatus OutputData = new();
    private RejectReasonModel data;
    private string SRejectReasonCode;
    private int page = 1;
    private bool isLoading = true;
    private int ID;

    protected override async Task OnInitializedAsync()
    {
        await Initialize();
    }
    protected async Task Initialize()
    {
        isLoading = true;
        string token = await GetAuth();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        await GetRejectReasonList(page);
        StateHasChanged();
    }
    protected async Task GetRejectReasonList(int Page)
    {
        isLoading = true;
        page = Page;
        string token = await GetAuth();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        Paginated = await RejectReasonService.GetRejectReasonList(SRejectReasonCode, page);
        RejectReasonList = Paginated.Data; 
        isLoading = false;
    }
    public async Task<ReturnGenericStatus> SaveRejectReason()
    {
        isLoading = true;
        string token = await GetAuth();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        ReturnGenericDictionary x = await RejectReasonService.SaveRejectReason(Modal.FormData);
        OutputData.StatusMessage = x.StatusMessage;
        OutputData.StatusCode = x.StatusCode;
        Msg.ShowMsg(OutputData);
        if (OutputData.StatusCode == "00")
            await Initialize();
        else
            isLoading = false;
        return OutputData;
    }
    private void DeleteConfirmation(int id)
    {
        ConfimationMsg = "";
        ID = id;
        ConfimationMsg = "Are you sure you want to delete this?";
        IsConfirmationModalVisible = true;
    }
    protected async Task DeleteRejectReason(bool IsConfirmed)
    {
        if (IsConfirmed)
        {
            isLoading = true;
            string token = await GetAuth();
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            OutputData = await RejectReasonService.DeleteRejectReason(ID);
            Msg.ShowMsg(OutputData);
            if (OutputData.StatusCode == "00")
                await Initialize();
            else
                isLoading = false;
        }
        IsConfirmationModalVisible = false;
        ID = 0;
    }
    protected async Task PrintRejectReason()
    {
        string token = await GetAuth();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        isLoading = true;
        ReturnGenericData<ReturnDownloadPDF> FileByte = await RejectReasonService.PrintRejectReason(SRejectReasonCode);
        isLoading = false;
        if (FileByte.StatusCode == "00")
        {
            string base64Data = FileByte.Data.PdfDataBase64.Trim('"');
            await JSRuntime.InvokeVoidAsync("downloadFile", "application/pdf", base64Data, FileByte.Data.FileName);
        }
        else
        {
            Msg.ShowMsg(new ReturnGenericStatus { StatusCode = FileByte.StatusCode, StatusMessage = FileByte.StatusMessage });
        }
    }
    private async Task<string> GetAuth()
    {
        return await localStorageService.GetItemAsStringAsync("auth")!;
    }
}