@page "/amount-limits/{Menu}"
@using Application.Models
@using Application.Service
@using WebAPI
@using Microsoft.JSInterop

<PageTitle>AmountLimits</PageTitle>

<h3 class="Page-Header">AmountLimits List</h3>
<div>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-success w-100 btn-sm" type="button" @onclick="() => Modal.CreateNew()"><i class="fa fa-plus"></i> Add</button>
        </div>
        <div class="col-2">
            <button class="btn btn-warning w-100 btn-sm" type="button" @onclick="() => PrintAmountLimits()"><i class="fa fa-print"></i> Print</button>
        </div>
    </div>
    <div class="table-responsive-vh">
        <table class="table table-striped table-hover table-bordered ">
            <thead>
                <tr class="table-dark">
                    <th style="width:15%">Amount Limits Code</th>
                    <th style="width:25%">Amount Limits Desc</th>
                    <th style="width:15%">Max Amount Limit</th>
                    <th style="width:20%">Allowed Action</th>
                    <th style="width:10%">Deleted</th>
                    <th style="width:15%">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (AmountLimitsList != null)
                    foreach (AmountLimitsModel x in AmountLimitsList)
                    {
                        <tr>
                            <td style="width:15%">@x.AmountLimitsCode</td>
                            <td style="width:25%">@x.AmountLimitsDesc</td>
                            <td style="width:15%">@x.MaxAmountLimit</td>
                            <td style="width:20%">@x.AllowedAction</td>
                            <td style="width:10%"><input type="checkbox" checked="@(x.Isdeleted ?? false)" disabled /></td>
                            <td style="width:15%">
                                @if(!(x.Isdeleted ?? false)){
                                    <button type="button" class="btn btn-sm btn-info" @onclick="() => Modal.PopulateForm(x,true)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-sm btn-danger" @onclick="() => DeleteConfirmation(x.Id)"><i class="fa fa-trash"></i></button>
                                }
                                else{

                                    <button type="button" class="btn btn-sm btn-success" @onclick="() => Modal.PopulateForm(x,false)"><i class="fa fa-eye"></i></button>
                                    }
                            </td>
                        </tr>
                    }
                @if (AmountLimitsList.Count == 0)
                {
                    <tr>
                        <td colspan="6" class="text-center">No Data Available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <UIPagination CurrentPage="page"
                  TotalPages="Paginated.TotalPages"
                  HasPreviousPage="Paginated.HasPreviousPage"
                  HasNextPage="Paginated.HasNextPage"
                  CountData="Paginated.CountData"
                  OnPageChanged="GetAmountLimitsList" />
</div>

<CIVSUI.Pages.AmountLimits.CreateEditAmountLimits @ref="Modal" ParentPage="@this"></CIVSUI.Pages.AmountLimits.CreateEditAmountLimits>
<ConfirmationToast @ref="Confirmation"
                   ConfimationMsg="@ConfimationMsg"
                   OnConfirm="DeleteAmountLimits"
                   IsVisible="@IsConfirmationModalVisible">
</ConfirmationToast>
<Toast @ref="Msg"></Toast>

<LoadingModal @ref="MdlLoading" IsLoading="@isLoading"></LoadingModal>

@inject IAmountLimitsServices AmountLimitsService
@inject IJSRuntime JSRuntime
@code {
    [Parameter]
    public string Menu { get; set; }
    private CIVSUI.Pages.AmountLimits.CreateEditAmountLimits Modal { get; set; }
    private Toast Msg { get; set; }
    private ConfirmationToast Confirmation { get; set; }
    private bool IsConfirmationModalVisible = false;
    private string ConfimationMsg = string.Empty;
    private LoadingModal MdlLoading;
    private bool isLoading = true;
    private PaginatedOutputServices<AmountLimitsModel> Paginated = new();
    private List<AmountLimitsModel> AmountLimitsList = new();
    private ReturnGenericStatus OutputData = new();
    private AmountLimitsModel data;
    private string SAmountLimitsCode;
    private int page = 1;
    private int ID;

    protected override async Task OnInitializedAsync()
    {
        await Initialize();
    }
    protected async Task Initialize()
    {
        await GetAmountLimitsList(page);
        StateHasChanged();
    }
    protected async Task GetAmountLimitsList(int Page)
    {
        isLoading = true;
        page = Page;
        string token = await GetAuth();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        Paginated = await AmountLimitsService.GetAmountLimitsList(SAmountLimitsCode, page);
        AmountLimitsList = Paginated.Data;
        isLoading = false;
    } 
    public async Task<ReturnGenericStatus> SaveAmountLimits()
    {
        Modal.FormData.SelectedActions = Modal.DDlAllowedAction.Where(x => x.IsChecked).Select(x => x.Value).ToList<string>();
        string token = await GetAuth();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        ReturnGenericDictionary x = await AmountLimitsService.SaveAmountLimits(Modal.FormData);
        OutputData.StatusMessage = x.StatusMessage;
        OutputData.StatusCode = x.StatusCode;
        Msg.ShowMsg(OutputData);
        if (OutputData.StatusCode == "00")
            await Initialize();
        else
            isLoading = false;
        return OutputData;
    }
    private void DeleteConfirmation(int id)
    {
        ConfimationMsg = "";
        ID = id;
        ConfimationMsg = "Are you sure you want to delete this?";
        IsConfirmationModalVisible = true;
    }
    protected async Task DeleteAmountLimits(bool IsConfirmed)
    {
        if (IsConfirmed)
        {
            isLoading = true;
            string token = await GetAuth();
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            OutputData = await AmountLimitsService.DeleteAmountLimits(ID);
            Msg.ShowMsg(OutputData);
            if (OutputData.StatusCode == "00")
                await Initialize();
            else
                isLoading = false;
        }
        IsConfirmationModalVisible = false;
        ID = 0;
    }
    protected async Task PrintAmountLimits()
    {
        string token = await GetAuth();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        isLoading = true;
        ReturnGenericData<ReturnDownloadPDF> FileByte = await AmountLimitsService.PrintAmountLimits(SAmountLimitsCode);
        isLoading = false;
        if (FileByte.StatusCode == "00")
        {
            string base64Data = FileByte.Data.PdfDataBase64.Trim('"');
            await JSRuntime.InvokeVoidAsync("downloadFile", "application/pdf", base64Data, FileByte.Data.FileName);
        }
        else
        {
            Msg.ShowMsg(new ReturnGenericStatus { StatusCode = FileByte.StatusCode, StatusMessage = FileByte.StatusMessage });
        }
    }
    private async Task<string> GetAuth()
    {
        return await localStorageService.GetItemAsStringAsync("auth")!;
    }
}